/*
!/.gitignore
!/README.md
!/package.json
!/package-lock.json
!/index.html
!/vite.config.ts
!/tsconfig.json
!/tsconfig.node.json
!/electron/
!/shared/
!/src/

!/config/
/config/*
!/config/models.json

!/scripts/
/scripts/*
!/scripts/build-main.mjs

!/Resources/
/Resources/*
!/Resources/VantheaX.ico
!/Resources/Logo-taskbar.png

*.log
*.tmp
*.tmp.*
*.bak
*.bak-*
.DS_Store
Thumbs.db
.env
.env.*
*.pem
*.key
*.pfx
